@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
body {
    margin: 0;
    /* background-color: #1a1a1a;  */
}
body .dark{
    background-color: #1a1a1a;
}

button{
    /* ae8602 : jaune
        #1A1A1A : noir

    dark*/
    /* light :
        *** #fbc30a : jaune1
            #F8F8F8 : blanc sale
            #FEC400 :jaune2
     */
}